<div class="container">
    <app-header></app-header>
    <ul>
        <li>Love all, trust a few, do wrong to none.</li>
        <li>You call it madness, but I call it love.</li>
        <li>We can only learn to love by loving.</li>
        <li>A life lived in love will never be dull.</li>
        <li>True love stories never have endings.</li>
        <li>I need you like a heart needs a beat.</li>
        <li>If I know what love is, it is because of you.</li>
        <li>Whatever our souls are made of, his and mine are the same.</li>
        <li>It is a curious thought, but it is only when you see people looking ridiculous that you realize just how much you love them.</li>
    </ul>
</div>
